<%= form_for(@plan, :url => event_plans_path(@event, @plan)) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location_title %><br>
    <%= f.text_field :location_title %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, :value => '0' %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, :value => '0' %>
  </div>
  <div class="field">
    <%= f.label "Start time" %><br>
    <%= f.datetime_select :dtstart %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.datetime_select :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
